name: Pytests tests

on: 
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout the code
          uses: actions/checkout@v3

        - name: Set up Python 3.12
          uses: actions/setup-python@v2
          with:
            python-version: 3.12
            cache: 'pip'

        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt

        - name: Run unit pytest
          run: |
            python -m pytest -m unit
